$white: #ffffff;
$black: #000000;
$primary-orange: #FF4E3D;
$primary-blue: #0762C8;
$blue-bg: #F4F6FE;
$blue-light: #83B0E3;
$blue-dark: #064EA0;
$primary-green: #43B02A;
$green-dark: #368D22;
$primary-grey: #72808D;
$grey-light-200: rgba(145, 148, 162, 0.2);
$grey-light: #9DACBF;
$grey-dark: #3B5172;
